<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/TchavdarTodorov/E-Codes/raw/main/e_codes.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://d33wubrfki0l68.cloudfront.net/eb6833354658551a0f5fdae4566481ee401fcdbc/893b4/assets/graphics/layout/entose_logo-h-pos.svg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://d33wubrfki0l68.cloudfront.net/eb6833354658551a0f5fdae4566481ee401fcdbc/893b4/assets/graphics/layout/entose_logo-h-pos.svg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.example.eCodes</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>e_codes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
